/* Haplo Research Manager                            https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2017   https://www.haplo-services.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */

/* Sticky footer styles
 * -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    border-top: 3px solid #e7e7e7;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
th.haplo-attribute {
    width: 25%;
}
.haplo-profile-photo {
    margin-top: -50px; /* TODO: Set this properly */
}
.oforms-display-row.control-group {
    margin-top: 8px;
}
.control-label {
    font-weight: bold;
}
.checkbox input[type="checkbox"] {
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
}

.panel {
    margin-top: 16px;
}

.panel-heading {
    font-weight: bold;
}

/* ------------------------------------------------------------------- */

/* This is duplicated css for researcher profiles from hres_researcher_profile_expected */
.prize {
    border-width: 1px;
    padding: 3px 5px 6px 10px;
    border-color: #eee;
    border-style: solid;
}
.prize h2 {
    margin-top: 10px;
    margin-bottom: 1px;
}
.prize a {
    color: grey;
    text-decoration: underline;
    font-size: 11px;
}
.prize-date {
    float: right;
    margin-right: 15px;
    font-size: 15px;
    color: #999;
}
.prize-body {
    color: #555;
}

/* ------------------------------------------------------------------- */

/* search by fields */
.haplo-repo-search-by-fields label {
    margin: 8px 0 0 0;
}
.haplo-repository-search-by-fields-long {
    width: 100%;
}
.haplo-repo-search-by-fields-button {
    margin-top: 16px;
    text-align: right;
}


/* ------------------------------------------------------------------- */

/* search results */

.haplo-example-repo-search form {
    margin-bottom: 32px;
}

.haplo-search-thumbnail {
    float: right;
    margin-left: 16px;
}

.haplo-results-info {
    font-size: 1.1em;
}
.haplo-results-info:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}
.haplo-results-count {
    float: left;
}
.haplo-result-sort {
    float: right;
}
.haplo-result-sort a,
.haplo-result-sort b {
    background: #efefef;
    display: inline-block;
    padding: 2px 8px;
}
.haplo-result-sort b {
    background: #ddd;
}
.haplo-result-sort a:hover {
    color: #fff;
    background: #777;
}

.haplo-search-type {
    margin: 0 0 4px 0;
}
.haplo-search-type span {
    font-size: 1.3rem;
    font-weight: bold;
    background: #eee;
    color: #666;
    padding: 1px 4px;
}

.haplo-results-paging {
    margin-top: 16px;
    padding: 4px 16px;
    background: #f8f8f8;
    font-size: 1.2em;
    height: 2em;
}