/* Haplo Research Manager                            https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2019            https://www.haplo.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */

input ,select {
    margin: 0.5rem;
}

#jisc_submit_button {
    margin-bottom: 0.5rem;
}

tr {
    border-bottom: 1px solid rgba(201,202,204,1);
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(even) {
    background: rgba(201,202,204,1);
}

td {
    padding: 0.5rem;
}

#resultsTable {
	padding-bottom: 1rem;
}

#jisc_container_div {
	color: black;
}