/* Haplo Research Manager                            https://haplo.org
 * (c) Haplo Services Ltd 2006 - 2017   https://www.haplo-services.com
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.         */


.sherpa-links {
    background: #eee;
    padding: 8px 13px;
    border-radius: 3px;
}

.policy-title > * {
    display: inline;
}

.policy-table {
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}

.expand-collapse {
    float: right;
    cursor: pointer;
}

.collapsed {
    display: none;
}

/* Navigation arrow elements */
.ey {
    padding: unset;
}

.sherpa-links h2 {
    margin-top: 0;
}

.embargo-attribute-not-used {
    color: #888;
    text-style: italic;
}

.edit-embargoes-form input[type=submit] {
    float: right;
    position: relative;
    top: -16px;
}